@page "/pets/details"
@using Microsoft.EntityFrameworkCore
@using BlazorSignalRApp.Models
@inject IDbContextFactory<BlazorSignalRApp.Data.BlazorSignalRAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Pets</h2>
    <hr />
    @if (pets is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@pets.Name</dd>
            <dt class="col-sm-2">BirthDate</dt>
            <dd class="col-sm-10">@pets.BirthDate</dd>
            <dt class="col-sm-2">HealthStatus</dt>
            <dd class="col-sm-10">@pets.HealthStatus</dd>
            <dt class="col-sm-2">Breed</dt>
            <dd class="col-sm-10">@pets.Breed</dd>
            <dt class="col-sm-2">Age</dt>
            <dd class="col-sm-10">@pets.Age</dd>
            <dt class="col-sm-2">Sex</dt>
            <dd class="col-sm-10">@pets.Sex</dd>
            <dt class="col-sm-2">Vaccinated</dt>
            <dd class="col-sm-10">@pets.Vaccinated</dd>
            <dt class="col-sm-2">TemperamentWCats</dt>
            <dd class="col-sm-10">@pets.TemperamentWCats</dd>
            <dt class="col-sm-2">TemperamentWDogs</dt>
            <dd class="col-sm-10">@pets.TemperamentWDogs</dd>
            <dt class="col-sm-2">TemperamentWChildren</dt>
            <dd class="col-sm-10">@pets.TemperamentWChildren</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@pets.Description</dd>
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">@pets.Price</dd>
        </dl>
        <div>
            <a href="@($"/pets/edit?id={pets.Id}")">Edit</a> |
            <a href="@($"/pets")">Back to List</a>
        </div>
    }
</div>

@code {
    private Pets? pets;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        pets = await context.Pets.FirstOrDefaultAsync(m => m.Id == Id);

        if (pets is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
